_temp_raw_index.md
_temp_orig_index.md
*_cat
*-E
*.prefix

*Zone.Identifier

*.md
*.py
*.png
*.svg
*.drawio

manage_file.sh
manage_file.csv

.ipynb_checkpoints/

data/
ml-100k/

pt_*.md
toc.md
top_template.ipynb
nbconverter_test.sh
gupdate.sh
gpull.sh
gdeploy.sh

!README.md
